/* src/app/globals.css */
:root {
  --color-sb-yellow: #fdb813;
  --color-sb-yellow-dark: #e9a800;
  --color-sb-grey: #a0a0a0;
  --color-sb-grey-dark: #666;
  --padding-dekstop: 80px;
  --padding-mobile: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

/* src/app/globals.css */

/* ... (kode Anda yang sudah ada di atas) ... */


/* Definisi untuk background SectionHeader */
.bg-about {
    background-image: url('/assets/image/bg-section-about-sandbox.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Menengahkan gambar */
}

/* Definisi untuk background SectionAboutSandbox */
.bg-about-sandbox {
    background-image: url('/assets/image/bg-section-about-sandbox.webp'); /* Menggunakan gambar yang sama */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Menengahkan gambar */
}

.custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    transition: all 0.3s ease;
    margin: 0 4px;
}

.custom-pagination .swiper-pagination-bullet-active {
    width: 30px;
    opacity: 1;
    border-radius: 5px;
    background-color: var(--color-sb-yellow);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hapus margin dan padding default dari browser */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}